#
# Sample ProTop logrotate.cfg
#
# loghist line specifies number of weeks to retain archived logs
# floghist line specifies number of weeks to retain filtered logs
# Actual retention is (weeks * 7) days
#
# Numbers in braces are error messages to be filtered out from logrot . flogrot
# Any line beginning with a hash mark will be ignored.
#
loghist=26
floghist=52
#
(10026)
(10027)
(10028)
(10029)
